<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="static\\css\\styleshomepage.css">
    <script src="static\js\login_logout_homepage.js"></script>
</head>
<body>
    <div class="container">
        <h1>Welcome To Invoice Generator</h1>
        <form class="search-form" id="search-form">
            <label>What Would You Like To Do</label>
            <button type="button" id="signup" onclick="returntosignup()">Signup</button>
            <button type="button" id="signin" onclick="returntosignin()">Signin</button>
        </form>
    </div>
</body>
</html>